* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #888;
}

h1,
h2 {
    margin-bottom: 10px;
}