/*
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #888;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2 {
    margin-bottom: 10px;
}
*/

:root {
    --background: rgba(255, 255, 74, 0.486);
}

body {
    background-color: var(--background);
}

header {
    background-color: #ffff00;
    padding: 15px;
}

nav {
    padding: 10px;
}